body{
    background-color:#272727;
    color:#d1e8e2;     
    margin: 0;    
    padding: 0;
    font-family: 'Fira Code', monospace;
    background-image: url('../img/bg/xv.png');  
    
}

nav{
    margin: 30px 0px 20px 60px;  
  
    h1{
        font-family: 'Oswald', sans-serif;
        font-weight: 200;

    }

    h2{       
        font-weight: 500;
        font-size: 18px;
        margin-top: 20px;

        .blinking{
            animation:blinkingText 1.2s infinite;
            font-weight: bolder;
        }
        @keyframes blinkingText{
            0%{		color:#d1e8e2;	}           
            50%{	color: transparent;	}
            99%{	color:transparent;	}
            100%{	color:#d1e8e2;	}
        }
    }
    img{
        height:15px;
        margin-right: 10px;
    }
    
    i{
        color:#d1e8e2;
        padding-right: 12px;
        &:hover{
            font-size: large;
            color: #faed26;
        }
    }
    
    .email{
        i{
            margin-right: 0px;
        }
    }
}



.tabs{        
    font-weight: 200;
    margin-left: 60px;
    margin-top: -15px;
    
    .tab {
    cursor: pointer;
    margin-bottom: 15px ;   
    border-radius: 5px;
    display: inline-block;
    background-color: #222629 ;
    padding: 8px 15px;
    color:#faed26;
    font-weight: 500;
    &:hover{
        font-weight: 600;
    }

  }
  
  .selected {
    padding: 7px 15px;
    background-color: #faed26;
    font-weight: 500;
    color: #222629;    
    }   

  .hidden { 
    display:none;
    }

    .about{        
        width: 700px;
        padding: 3px;

        p{
            margin-bottom: 10px;
        }

        a{
            color:#d1e8e2;
            text-decoration: none;
            background-color: #222629;
            padding: 3px;
            font-size: 12px;
            &:hover{
                font-weight: 500;
                font-size: 13px;
            }            
        }
        
    }

    .experience{   
        margin-bottom: 30px;      
        .title{
            display: flex;            
            background-color:#222629;
            padding: 10px;
            border-radius: 5px;
            width: 800px;
            margin-top:5px;
            margin-bottom: 10px;
            .ano{
                margin-top: 5px;
                margin-right: 20px;
                font-size: 12px;
                font-weight: 600;
            }
            .job_role{
                font-weight: 500;
            }
            .list{
                margin-top: 10px;
                font-size: 14px;
                width: 850px;
            }
        }
    }

    .portifolio{
        width: 555px;   
        border-radius: 5px;

        .links{            
            margin-bottom: 15px;
            a{
                color:#d1e8e2;
                text-decoration: none; 
                font-size: 15px;
                &:hover{
                    font-weight: 500;
                    font-size: 16px;
                }            
            }
        }

        img {
            border: 1px solid  #222629;
            border-radius: 5px;            
        }

        .next, .prev{
            background-color: #272727;
            border-radius: 10px;           
        }
        
        .caption{            
            position: static;  
            padding-bottom: 0px;  
            margin-bottom: 0px;          
            a{
                color:#d1e8e2;
                text-decoration: none;
              
                &:hover{
                    color:#faed26;
                }
            }            
        }

    }

    .skills{
        margin-top: 10px; 
        margin-bottom: 30px;
        padding: 5px;
        
        #skill-barometer { 
            width: 555px;
            // background-color: #222629;  
            border-radius: 5px;
            
            .progressbar {
                width: 400px;
                height: 60px;
                margin-bottom: 25px;
                font-weight: 500;
                p{
                    font-size: 12px;
                    margin-bottom: 10px;
                }
                
                div {           
                height: 10px;
                width: 0;
                }
            }
        }
    }

    .contact{
        width: 555px;
        padding: 10px; 
        margin-top:5px;
        // background-color: #222629;
        border-radius: 5px;

        .contact_links{
            margin-bottom: 10px;
            a{
                color:#d1e8e2;
                text-decoration: none;
                &:hover{
                    font-weight: 800;
                    font-size: 18px;
                }
                }
            }
        }
      
}



