*{
    margin: 0;    
    font-family: 'Fira Code', monospace;    
    // font-family: 'Raleway', sans-serif;
}

nav{
    margin: 20px 0px 0px 60px;  
    text-decoration: none;
    
    h1{
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: 40px;
        margin-bottom: 10px;
    }
    h3{
        font-family: 'Fira Code', monospace;
        font-weight: 200;
    }
}

.tabs{        
    
    font-family: 'Fira Code', monospace;
    font-weight: 200;
    margin-left: 60px;
    margin-top: 20px;


.tab {
    display: inline-block;
    background-color: grey;
    padding: 0.75rem;
    color: #fff;
  }
  
  .selected {
    background-color: red;
  }
  

  .hidden {
    display:none;
}
.about{        
    width: 700px;
    background-color:#F7F3F2;
    padding: 10px;
    border-radius: 10px;
    p{
        margin-bottom: 10px;
    }
}

.experience{         
    .title{
        display: flex;            
        background-color:#F9D423;
        padding: 10px;
        border-radius: 5px;
        width: 850px;
        margin-top:5px;
        .ano{
            margin-top: 5px;
            margin-right: 20px;
            font-size: 12px;
            font-weight: 600;
        }
        .job_role{
            font-weight: 500;
        }
        .list{
            margin-top: 10px;
            font-size: 14px;
            width: 850px;
            p{
                margin-bottom: 5px;
            }
        }
    }
}

.skills{
    margin-top: 40px;

    #container {            
        width: 700px;
                
        .progress {
            width: 400px;
            margin-bottom: 10px;
            p{
                font-size: 12px;
            }
        
            div {
            height: 10px;
            width: 0;
            transition: width 2s ease-in;
            }
        }
    }
}

.contact{
    width: 500px;
    background-color:#F9D423;
    padding: 10px;
    border-radius: 5px;
    margin-top:5px;
    p{
        margin-bottom: 10px;
    }
}


.all_infosection{
    margin: 10px 40px 0px 60px; 
    line-height: 1.6;
    
}

}