body{
    background-color:#46344e;
    color:#d1e8e2;     
    margin: 0;    
    padding: 0;
    font-family: 'Fira Code', monospace;
    background-image: url('../img/bg/skulls.png')   
}


nav{
    margin: 20px 0px 0px 60px;  
    text-decoration: none;
    
    h1{
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: 40px;
        margin-bottom: 10px;
    }
    h3{
        font-family: 'Fira Code', monospace;
        font-weight: 200;
    }
}

.tabs{        
    font-family: 'Fira Code', monospace;
    font-weight: 200;
    margin-left: 60px;
    margin-top: 20px;
    
    .tab {
    cursor: pointer;
    margin-bottom: 15px ;   
    border-radius: 5px;
    display: inline-block;
    background-color: #faed26;
    padding: 5px 15px;
    color:#272727;
    &:hover{
        font-weight: 600;
    }

  }
  
  .selected {
    background-color: #222629;
    font-weight: 500;
    color: #a39996;    
    }   

  .hidden { 
    display:none;
    }

    .about{        
        width: 700px;
        padding: 15px;
        background-color: #222629;
     
        border-radius: 5px;

        p{
            margin-bottom: 10px;
        }

        a{
            color:#d1e8e2;
            text-decoration: none;
            background-color: #222629;
            padding: 3px;
            font-size: 12px;
            &:hover{
                font-weight: 500;
                font-size: 13px;
            }            
        }
        
    }

    .experience{   
        margin-bottom: 30px;      
        .title{
            display: flex;            
            background-color:#222629;
            padding: 10px;
            border-radius: 5px;
            width: 850px;
            margin-top:5px;
            margin-bottom: 10px;
            .ano{
                margin-top: 5px;
                margin-right: 20px;
                font-size: 12px;
                font-weight: 600;
            }
            .job_role{
                font-weight: 500;
            }
            .list{
                margin-top: 10px;
                font-size: 14px;
                width: 850px;
            }
        }
    }

    .portifolio{
        width: 555px;
        background-color: #222629; 
        padding: 20px;
        margin-bottom: 30px;
        border-radius: 5px;

        .links{            
            margin-bottom: 15px;
            a{
                color:#d1e8e2;
                text-decoration: none; 
                font-size: 15px;
                &:hover{
                    font-weight: 500;
                    font-size: 16px;
                }            
            }
        }

        img {
            border: 1px solid  #222629;
            border-radius: 5px;            
        }

        .next, .prev{
            background-color: #272727;
            border-radius: 10px;           
        }
        
        .caption{
            opacity: 0.6;
            position: static;  
            padding-bottom: 0px;            
            a{
                color:#d1e8e2;
                text-decoration: none;
              
                &:hover{
                    color:#faed26;
                }
            }            
        }

    }

    .skills{
        margin-top: 10px; 
        margin-bottom: 30px;
        
        #skill-barometer { 
            padding: 20px;
            width: 555px;
            background-color: #222629;  
            border-radius: 5px;
            
            .progressbar {
                width: 500px;
                height: 60px;
                margin-bottom: 25px;
                p{
                    font-size: 12px;
                    margin-bottom: 10px;
                }
                
                div {           
                height: 10px;
                width: 0;
                }
            }
        }
    }

    .contact{
        width: 555px;
        padding: 10px; 
        margin-top:5px;
        background-color: #222629;
        border-radius: 5px;
        
        .contact_links{
            margin-bottom: 10px;
            a{
                color:#d1e8e2;
                text-decoration: none;
                &:hover{
                    font-weight: 800;
                    font-size: 18px;
                }
                }
            }
        }
      
}



